<!--整形はctrl+ alt + B -->
<!DOCTYPE html>

<html lang="ja">

<head>
  <title> よくある質問テンプレート </title>
</head>

<body>
  <h1> 株式会社ダミーカンパニ―　</h1>

  <h2> サイト内メニュー </h2>
  <ul>
    <li> <a href="index 10.html "> ホーム </a> </li>
    <li> <a href="index 11.html"> 企業情報 </a> </li>
    <ul>
      <li>
        <a href="index 12.html">会社概要</a>
      </li>
      <li>
        <a href="index 12.html">資金運用</a>
      </li>
      <li>
        <a href="index sub1.html">料金表</a>
      </li>
    </ul>
    <li> <a href="index fquestion.html">よくある質問 </a> </li>
    <li> <a href="index sub2 form.html">お問い合わせ </a> </li>


  </ul>

  <h1>広告バナー</h1>
  <p>100%やせれる！？(ﾟдﾟ)！画期的ダイエット商品はこちら！↓↓↓</p>

  <p>
    <a href="index fquestion.html">
      <img src="55.png" width="480" height="180" "alt = " 表示エラー"> </a> </p>

  <footer>
    <p>&copy; 2016 Mary Blog.</p>
  </footer>

</body>


</html>
